.navbar {
  display: flex;
  height: 50px;
  align-items: center;
  background-color: black;
  color: #fff;
  position: fixed;
  width: 100%;
}
.logo {
  width: 120px;
  height: auto;
}
.nav-links {
  flex: 2;
  display: flex;
  justify-content: center;
}

.nav-right-button {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.nav-links .anchor {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

.nav-links .anchor:hover {
  background-color: #444;
}

.nav-right .button {
  background-color: #00b0ff;
  border-radius: 2px;
  border: none;
  width: 80px;
  height: 30px;
  margin: 0px 5px 0px 5px;
  cursor: pointer;
}

.nav-right .button:hover {
  background-color: #ff9d00;
  color: white;
  font-size: 15px;

}

.nav-right .button .span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.nav-right .button .span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  width: 27px;
}

.nav-right .button:hover .span {
  padding-right: 25px;
}

.nav-right .button:hover .span:after {
  opacity: 1;
  right: 0;
}