.banner-heading {
  text-align: center;
  color: white;
  font-size: 50px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 10px;
  cursor: pointer;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Josefin Sans', sans-serif;
}

.banner-heading .banner-heading-span {
  transition: 0.5s ease-out;

}

.banner-heading:hover .banner-heading-span:nth-child(1) {
  margin-right: 5px;

}

.banner-heading:hover .banner-heading-span:nth-child(2) {
  margin-left: 30px;
}

.banner-heading:hover .banner-heading-span {
  color: red;
  text-shadow: 0 0 10px #fff, 0 0 20px lightcoral, 0 0 40px #fff;
}

#slider-img {
  width: 100%;
  margin-top: 50px;
}