img{
    height: 230px;
    width: 100%;
  }
  .center{
    margin: auto;
  }
  .card {
    padding: 0px 5px 10px 5px;
    border-radius: 10px;
    font-family: Georgia, serif;
    font-size: 15px;
    padding-top: 5px;
    width: 300px;
    margin: 100px 0px 100px 0px;
    background-color:white;
    text-align: center;  
    
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  }
  .card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translate3D(0,-1px,0) scale(1.03);
  }
  
  