.card-img {
  height: 230px;
  width: 100%;
}

.center-card {
  margin: auto;
}

.card {
  padding: 5px 5px 10px 5px;
  border-radius: 10px;
  font-family: Georgia, serif;
  font-size: 15px;
  width: 300px;
  margin: 100px 0px 100px 0px;
  background-color: white;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(5, 3, 3, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Josefin Sans', sans-serif;

}

.card-para {
  font-size: 20px;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(194, 0, 0, 0.2), 0 6px 20px 0 rgba(167, 0, 0, 0.19);
  transform: translate3D(0, -1px, 0) scale(1.03);
  cursor: pointer;
}